bin
*.spv
*.blend1
data
thesis/*.aux
thesis/*.idx
thesis/*.lof
thesis/*.log
thesis/*.pdf
thesis/*.gz
thesis/*.toc
thesis/*.bbl
thesis/*.blg
thesis/*.dvi
thesis/*.glg
thesis/*.glo
thesis/*.gls
thesis/*.glsdefs
thesis/*.ist
thesis/sources/Other/*
thesis/*.lot